@import "tailwindcss";

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar:horizontal {
    height: 2px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
}
